BITRIX_WEBHOOK_URL=https://example.bitrix24.ru/rest/1/token/
YML_URL=https://example.ru/feed.yml
CATEGORY_FIELD_TITLE=Категория товаров (Сайт)
SUBCATEGORY_FIELD_TITLE=Подкатегория товаров (Сайт)
HTTP_TIMEOUT=30
