BITRIX_WEBHOOK_URL=https://example.bitrix24.ru/rest/1/token/
YML_URL=https://example.ru/feed.yml
CATEGORY_FIELD_ID=UF_CRM_CATEGORY
SUBCATEGORY_FIELD_ID=UF_CRM_SUBCATEGORY
CATEGORY_VALUE_MAP={}
SUBCATEGORY_VALUE_MAP={}
HTTP_TIMEOUT=30

